body {
    background-color: #6926de;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    align-items: center;
}

* {
    box-sizing: border-box;
}


.page {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    color: black;
}

h1 {
    color: #6926de;
    ;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    border: 3px solid #6926de;
    border-radius: 15px;
    color: black;
    text-shadow: 0 0 0 black;
    float: left;
}

#todo:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

#todo:hover {
    cursor: pointer;
}

#todoForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#button {
    background-color: #6926de;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 15px;
}

#button:hover {
    background-color: #582aa7;
    color: white;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #6926de;
    color: white;
    border-radius: 5px;
}

#todoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li.checked {
    background: #421b87;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li:hover {
    background: #b9b8bb;
    color: #fff;
    cursor: pointer;
}


ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 5px;
    margin-bottom: 10px;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}